<div class="result-block">
  <%= render 'layouts/messages'%>
</div>

<% if @friends %>
  <div class="card">
    <div class="card-body">
    <table>
      <tr>
        <th><%= fa_icon 'user' %></th>
        <td><%= friend.first_name %></td>
        <td><%= friend.email %></td>
      </tr>
        <% @friends.each do |friend| %>
          <tr>
            <th><%= fa_icon 'user' %></th>
            <td><%= friend.first_name %></td>
            <td><%= friend.email %></td>
          </tr>
        <% end %>
    </table>
    </div>
  </div>
<% end %>
